name: 'GitHub Actions Email Bot'
# 参考：https://blog.csdn.net/a12355556/article/details/112099143

on:
  workflow_dispatch:
#  schedule:
#    - cron: '0 14 * * *'

jobs:
  emailbot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: 'Send mail'
        uses: dawidd6/action-send-mail@master
        with:
          server_address: smtp.gmail.com
          server_port: 465
          # # Optional (recommended) mail server username:
          # 用户名：google账户名
          username: ${{ secrets.MAIL_USERNAME }}
          password: ${{ secrets.MAIL_PASSWORD }}
          subject: CSDN Report
          body: Build job of ${{github.repository}} completed successfully!
          # 接受邮箱的地址
          to: ${{ secrets.RECEIVER }}
          from: GitHub Actions
          content_type: text/plain